@import url('fonts.css');

html {
    width: 100%;
}

body {
    font-family: 'Geist Sans', sans-serif !important;
    /* Need to ask why this is important here */
    background: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
    /* prevents overflow on the x-axis*/
}

.header {
    width: 100%;
    padding: 2px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #323232;
    background: linear-gradient(180deg, #000000, #181818);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* prevents stretching to full screen width */
    padding: 20px 0;
    margin: 0 auto;
    transition: all 0.2s linear;
}

.header__inner-left {
    display: flex;
    align-items: center;
}

.header__title {
    margin: 0;
    font-size: 24px;
    background: -webkit-linear-gradient(280deg, #ffffff, #4d4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit lines are what give the background its gradient coloring */
}

.header__nav.active {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 2rem;
}

.header__link {
    color: #8a8a8a;
    text-decoration: none;
    font-size: 16px;
}

.header__link:hover {
    color: #fff;
}

.header__auth {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 20px 0;
}